@import url('https://fonts.googleapis.com/css?family=Righteous');
  html {
  	position: relative;
  }
  body {
  	/*padding-top: 30px;*/
    font-family: 'Righteous', cursive;
    margin-bottom: 100px;

  }

  .tophead img {
  	width: 55px;
  	height: auto;
  }
  .navbar-brand {
  	padding-top: 2px;
  }
   .navbar-default {
    background-color: #f9f1e4;
    border-color: transparent;
   }

hr {
  width: 300px;
  border-top: 3px solid #5c2828;
}
section {
   	height: 600px;
   }
section h2 {
	letter-spacing: 5px;
}

.about {
	height: 600px;
	background-color: #fdf9f4;
	background-image: url("images/back.jpeg");
	overflow: hidden;
	background-attachment: fixed; 
}

.about p {
	text-indent: 60px;
	letter-spacing: 3px;
	text-align: justify;
	line-height: 28px;
}

.about img {
	border: 5px solid #fdf2f2;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	height: 300px;
}

.ask {
	background-color: #fdf9f4;
}

.video {
	background-color: #ebc493;
	overflow: hidden; 
}
.video p {
	text-align: center;
}

.pkanan {
	opacity: 0;
	transform: translate(-50px, 0) rotate(-360deg);
	transition: 5s;
}

.ask .yoy {
	opacity: 0;
	transform: translate(0, -30px);
	transition: 4s;

}

.pow .wop {
	opacity: 0;
	transform: translate(-500px, 0px);
	transition: 1s;
}

.pow .wop.muncull {
	opacity: 1;
	transform: translate(0, 0);

}

.ask .yoy.muncul {
	opacity: 1;
	transform: translate(0, 0);

}

.pkanan.pmuncul {
	opacity: 1;
	transform: translate(0,0) rotate(0deg);
}

.pvideo {
	opacity: 1;
	transform: translate(1000px, 0);
}

.pvideogeser {
	opacity: 1;
	transform: translate(0px, 0);
	transition: 1s;
}

.video iframe {
	border: 5px solid #fdf2f2;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.pow {
	background-color: #fbf3e9;
	height: 450px;
}

.poww {
	background-color: #fbf3e9;
}

.poww h2 {
	padding-top: 40px;
	letter-spacing: 10px;
}

.ask button {
	background-color: #f2cec7;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #333;
	width: 100%;
	height: 100px;
	letter-spacing: 5px;
	color: #FFE4C4;
}
footer a {
	color: #EC9787;
}
footer p {
	text-align: center;
}

footer img {
	width: 45px;
  	height: auto;
  	align-items: center;
  	padding-top: 10px;
}
a:hover {
    color: #DC4C46;
}

.pow #map {
	min-height: 100px;
	height: 250px;
border: 5px solid #fdf2f2; 
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
       }

.pow p {
	color: #d3675f;
}

.pow h2 {
	padding-top: 30px;
}

.yeay h2 {
	color: #B93A32;
}

#o {
	color: #ff0066;
}

